table  { width: 750px; height:240; 
    background-color:white ;color:black;
    margin:5% auto;     /*Alinhamento vertical e horizontal*/
    border-spacing: 0; }   

 

th{  width: 150px; height:12; 
  background-color:gainsboro  ;color:black;
  text-align: center;
  border: 1px solid black; }



td{  width: 150px; height:12; 
 background-color:white ;color:black;
 text-align: center;
 border: 1px solid black; }  
 

input{  width: 150px; height:12; 
     background-color:white ;color:black;
     text-align: center;
     border: 0; }



hr {color:red;}